name: documentation

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Test Build
        run: |
          cd docs
          if [ -e yarn.lock ]; then
            yarn install --frozen-lockfile
          elif [ -e package-lock.json ]; then
            npm ci
          else
            npm i
          fi
          npm run build
  javadoc:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: Build with Maven
        run: mvn clean install javadoc:javadoc
      - uses: actions/upload-artifact@v2
        with:
          name: "JavaDoc"
          path: "target/site/apidocs"
  javadoc-snapshot:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build with Gradle
        run: bash ./gradlew javadoc
      - uses: actions/upload-artifact@v2
        with:
          name: "JavaDoc-Snapshot"
          path: "build/docs/javadoc"
  gh-release:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    needs:
      - javadoc
      - javadoc-snapshot
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Download javadoc
        uses: actions/download-artifact@v2
        with:
          name: "JavaDoc"
          path: docs/static/apidocs
      - name: Download javadoc-snapshot
        uses: actions/download-artifact@v2
        with:
          name: "JavaDoc-Snapshot"
          path: docs/static/apidocs-snapshot
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          cd docs
          git config --global user.email "actions@github.com"
          git config --global user.name "gh-actions"
          if [ -e yarn.lock ]; then
            yarn install --frozen-lockfile
          elif [ -e package-lock.json ]; then
            npm ci
          else
            npm i
          fi
          npm run deploy
